* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  padding: 30px 40px;
}

.header {
  background: #2d303a;
  border-bottom: solid 5px #323746;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation__links {
  list-style-type: none;
}

.navigation__links li {
  display: inline;
  margin-left: 30px;
  cursor: pointer;
}

.navigation__links li:first-child {
  margin-left: 0;
}

.navigation__links a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  font-size: 1.6rem;
}

.navigation__links a:hover {
  color: #f06c64;
}

.main-info {
  background: #f2f2f2;
  border-bottom: solid 6px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-info__photo {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}

.main-info__photo:hover {
  outline: solid 5px #f06c64;
}

.main-info__name {
  font-weight: 900;
  font-size: 4rem;
  color: #666d89;
  padding: 20px 0;
}

.main-info__about {
  font-weight: 300;
  font-size: 1.8rem;
  color: #767e9e;
  line-height: 30px;
}

.contact-info {
  background: #2d303a;
  border-bottom: solid 6px #323746;
}

.contact-info__title {
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
  padding-bottom: 30px;
}

.contact-info__contacts {
  padding-left: 20px;
}

.contact-info__contacts li {
  font-weight: 300;
  font-size: 1.8rem;
  color: #767e9e;
  padding-bottom: 10px;
}

.skills {
  background: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.skills__title {
  font-weight: 900;
  font-size: 3rem;
  color: #f0d8d9;
}

.skills__technologies {
  list-style-type: none;
  padding-top: 12px;
}

.skills__technologies li {
  display: inline-block;
  border: solid 1px #f0d8d9;
  color: #f0d8d9;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-right: 8px;
  padding: 4px 8px;
  cursor: pointer;
  transition: .3s;
}

.skills__technologies li:last-child {
  margin-right: 0;
}

.skills__technologies li:hover {
  background: #b46965;
}
